.text-field-70 {
  width: 70% !important;
}

.date-label {
  color: rgba(0, 0, 0, 0.6);
  transform: translate(-5px, -67px) scale(0.75);
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 400;
  width: 118px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #fff;
  outline: none;
  z-index: 100;
}

.date-label-nf {
  transform: translate(0px, -67px) scale(0.75);
  width: 66px;
}

/* .react-datepicker-popper {
  z-index: 1000 !important;
  transform: translate(-12px, -211px) !important;
  position: relative !important;
} */

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__tab-loop {
  position: absolute !important;
}

.btn-add-fab {
  background: #e0e0e0 !important;
  color: #464646de !important;
}

.btn-add-fab:hover {
  background: #888888 !important;
  color: #464646de !important;
}

.textarea-ishikawa {
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  resize: none;
}

.textarea-ishikawa:focus-visible {
  outline: none;
}

.textarea-ishikawa:focus {
  border-bottom: 1px solid #5a5a5a;
  box-shadow: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.desc-width {
  max-width: calc(62.5% - 0.5rem);
}

.fake-card {
  padding: 1rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#tags-outlined {
  box-shadow: none !important;
}
